torch==2.7.1
torchaudio==2.7.1
omegaconf
einops
numpy<2
transformers>=4.48,<5
sentencepiece
tqdm
tensorboard
descript-audiotools>=0.7.2
descript-audio-codec
scipy
accelerate>=0.26.0
soundfile>=0.12
gradio>=5.13,<6
huggingface_hub>=0.28,<1
hf_xet
protobuf<4
